---
---

@import
	"variaveis",
	"cores"
;

#menu {

	@media #{$phone} {
		background-color: transparent;
		transition: background-color .1s ease-in-out;
		&.aberto {
			background-color: $branco;
		}
		// bottom: 0;
		// top: unset;
		// width: 100%;
		// #botao-encomendar {
		//     width: 100%;
		//     padding: 0;
		//     margin: 0;
		//     position: fixed;
		//     bottom: 0;
		//     left: 0;
		// }
	}

}

#historia, #produtos-capa, #eventos, #pontos-de-venda {
	align-content: center;
	justify-content: center;
	min-height: calc(100vh - 114px);
}

#capa-phone {
	background-image: url("/img/video-home.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	align-items: center;
}

#capa-home{
	margin-top: 57px;
	position: relative;
	overflow: hidden;
}

#overlay-capa-home {
	position: absolute;
	height: 100%;
	opacity: 1;
	align-items: center;
	top: 0;
	#logo-home {
		opacity: 1;
		transition: opacity .2s ease-in-out;
		margin-bottom: 82px;
		@media #{$tablet} {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
	#controle-video {
		width: 24px;
		height: 21px;
		background-image: url("/img/reproduzir.svg");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		margin-left: auto;
    	margin-right: auto;
    	transition: opacity .2s ease-in-out;
    	cursor: pointer;
	}
	&.reproduzindo {
		#logo-home {
			opacity: 0;
		}
		#controle-video {
			transition: opacity .2s ease-in-out;
			background-image: url("/img/pausar.svg");
			opacity: 0;
			&:hover {
				opacity: .5;
			}
		}
	}
	&.pausado {
		#logo-home {
			opacity: 1;
		}
		#controle-video {
			transition: opacity .2s ease-in-out;
			background-image: url("/img/pausar.svg");
			opacity: .5;
			&:hover {
				opacity: 1;
			}
		}
	}
}

#pascoa {
	background-color: $roxo-claro;
	font-size: 16px;
	text-align: center;
	height: 48px;
	p {
		line-height: 48px;
		margin-bottom: 0;
	}
}

#historia {
	.fundo {
		background-image: url("/img/historia-1.jpg");
		min-height: calc(100vh - 227px);
		margin-top: 32px;
	}
	.pequeno {
		font-size: 14px;
		line-height: 17px;
	}
}

#pontos-de-venda {
	.fundo {
		background-image: url("/img/pontos-de-venda.jpg");
		min-height: calc(100vh - 273px);
		margin-top: 78px;
	}
	address {
		margin-top: 52px;
		margin-bottom: 72px;
		font-style: normal;
	}
}

#historia, #pontos-de-venda {
	#marcador {
		margin-top: 48px;
	}
	.fundo {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin-bottom: 81px;
		justify-content: flex-end;
		.container-caixa {
			padding-top: 20px;
			padding-bottom: 20px;
			.caixa {
				padding-top: 78px;
				padding-bottom: 92px;
				margin-right: 20px;
				background-color: $branco;
				padding-left: 16.6666666%;
				padding-right: 16.6666666%;
				justify-content: center;
				text-align: center;
				h1, p {
					color: $azul-escuro;
				}
				h1 {
					margin-bottom: 32px;
				}
				address p {
					text-align: center;
				}
				p {
					text-align: left;
					&.grande {
						margin-bottom: 25px;
						text-align: center;
					}
				}
			}
		}
	}
}

#produtos-capa {
	background-image: url("/img/produtos-capa.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
}

#produtos {
	background-color: $branco;
	align-items: center;
	padding-top: 130px;
	padding-bottom: 130px;
	.subwrapper {
		justify-content: space-between;
	}
	.thumb-home {
		figure {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			padding-bottom: 100%;
			background-color: $amarelo-claro;
		}
		h6 {
			margin-top: 48px;
			text-align: center;
		}
	}
}

#eventos {
	background-image: url("/img/eventos-home.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
}

#entregas {
	min-height: 33.333vw;
	background-color: $roxo-claro;
	position: relative;
	h1 {
		margin-bottom: 2rem;
	}
	p {
		margin-bottom: 1rem;
	}
}

#detalhes-entrega {
	padding-bottom: 75px;
	p, h6 {
		text-align: left;
	}
	h6 {
		margin-top: 75px;
	}
}

#verificar-entrega {
	display: flex;
	flex-wrap: nowrap;
	align-self: flex-end;
	margin-bottom: 44px;
	z-index: 0;
	input, button {
		height: 49px;
		line-height: 49px;
	}
	input {
		width: 66.666%;
		margin-right: 0;
		padding-left: .5rem;
		font-size: 14px;
		text-align: center;
		&:focus {
			outline-width: 0;
		}
	}
	button {
		width: 33.333%;
		margin-left: 0;
		background-color: $roxo-claro;
		border: none;
	}
}

#mapa {
	width: calc(50% - 15px);
	left: 0;
	position: absolute;
	height: 100%;
	background-image: url("/img/mapa.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

