---
---

@import
	"variaveis",
	"cores"
;

#capa-home, #historia, #produtos-capa, #eventos, #pontos-de-venda {
	align-content: center;
	justify-content: center;
	h1 {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.link {
		font-size: 19px;
		text-align: center;
		line-height: 23px;
		font-family: 'HurmeGeometric', sans-serif;
		width: auto;
		@media #{$mobile} {
			font-size: .5rem;
			letter-spacing: 1px;
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
}

#capa-home{
	margin-top: 57px;
	position: relative;
	max-height: calc(100vh - 105px);
	overflow: hidden;
}

#logo-capa-home {
	position: absolute;
	top: 2rem;
	pointer-events: none;
	figure {
		@media #{$tablet} {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
}

#pascoa {
	background-color: $roxo-claro;
	font-size: 16px;
	text-align: center;
	height: 48px;
	p {
		line-height: 48px;
	}
}

#historia {
	.fundo {
		background-image: url("/img/historia-1.jpg");
		min-height: calc(100vh - 170px);
		margin-top: 32px;
	}
}

#pontos-de-venda {
	.fundo {
		background-image: url("/img/pontos-de-venda.jpg");
		min-height: calc(100vh - 124px);
		margin-top: 78px;
	}
	address {
		margin-top: 52px;
		margin-bottom: 72px;
		font-style: normal;
	}
}

#historia, #pontos-de-venda {
	min-height: calc(100vh - 57px);
	#marcador {
		margin-top: 48px;
	}
	.fundo {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin-bottom: 81px;
		justify-content: flex-end;
		.container-caixa {
			padding-top: 22px;
			padding-bottom: 22px;
			padding-right: 24px;
			.caixa {
				padding-top: 78px;
				padding-bottom: 92px;
				padding-left: 17.17%;
				padding-right: 17.17%;
				background-color: $branco;
				justify-content: center;
				h1, p {
					color: $azul-escuro;
				}
				h1 {
					margin-bottom: 32px;
				}
				address p {
					text-align: center;
				}
				p {
					text-align: justify;
					&.grande {
						margin-bottom: 25px;
						text-align: center;
					}
				}
			}
		}
	}
}

#produtos-capa {
	min-height: calc(100vh - 57px);
	background-image: url("/img/produtos-capa.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#produtos {
	min-height: calc(100vh - 57px);
	background-color: $branco;
	align-items: center;
	.thumb-home {
		figure {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			padding-bottom: 100%;
			background-color: $amarelo-claro;
		}
		h6 {
			margin-top: 48px;
			text-align: center;
		}
	}
}

#eventos {
	height: calc(100vh - 2rem);
	//max-height: 100vw;
	background-image: url("/img/eventos.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#entregas {
	min-height: 33.333vw;
	background-color: $roxo-claro;
	position: relative;
	h1 {
		margin-bottom: 2rem;
	}
	p {
		margin-bottom: 1rem;
	}
}

#detalhes-entrega {
	padding-bottom: 75px;
	p, h6 {
		text-align: left;
	}
	h6 {
		margin-top: 75px;
	}
}

#verificar-entrega {
	display: flex;
	flex-wrap: nowrap;
	align-self: flex-end;
	margin-bottom: 44px;
	input, button {
		height: 2rem;
		line-height: 2rem;
	}
	input {
		width: 66.666%;
		margin-right: 0;
		font-size: .666rem;
		padding-left: .5rem;
		font-size: 14px;
		text-align: center;
		&:focus {
			outline-width: 0;
		}
	}
	button {
		width: 33.333%;
		margin-left: 0;
		background-color: $roxo-claro;
	}
}

#mapa {
	width: calc(50% - 15px);
	left: 0;
	position: absolute;
	height: 100%;
	background-image: url("/img/mapa.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}