---
---

@charset "utf-8";

html {
	font-size: 150%;
}

a {
	text-decoration: none;
	color: unset;
}

iframe {
	display: block;
}

img {
	width: 100%;
}

@import
	"variaveis",
	"cores",
	"tipografia",
	"menu"
;
