---
---

@import
	"variaveis",
	"cores"
;

#intro-phone {
	margin-top: 72px;
	padding-top: 30px;
	background-color: $roxo-claro;
	height: calc(100vh - 72px);
	align-content: space-between;
	.ilustra {
		background-image: url("/img/pontos-capa.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		z-index: 0;
		@media #{$phone} {
			height: calc(100vh - 263px);
			margin-bottom: 26px;
		}
	}
	.proximo {
		background-image: url("/img/seta-baixo.svg");
		background-size: auto 9px;
		background-position: center;
		background-repeat: no-repeat;
		height: 12px;
		margin-bottom: 28px;
	}
}

#intro-pontos {
	margin-top: 57px;
	min-height: calc(100vh - 114px);
	background-color: $roxo-claro;
	position: relative;
	padding-top: 92px;
	padding-bottom: 92px;
	align-content: center;

	@media #{$phone} {
		padding-top: 30px;
		padding-bottom: 30px;
		margin-top: 0;
		background-color: $branco;
	}
	.ilustra {
		background-image: url("/img/pontos-capa.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		z-index: 0;
		@media #{$tabletUp} {
			position: absolute;
			width: calc(50% - 15px);
			margin: 0;
			top: 0;
			left: 0;
			height: 100%;
		}
	}
	.conteudo {
		align-self: center;
		z-index: 1;
		@media #{$phone} {
		    display: flex;
		    flex-wrap: wrap;
		    justify-content: center;
		}
		.info-quiosque {
			margin-bottom: 75px;
			@media #{$phone} {
				margin-bottom: 25px;
			}
		}
		h1 {
			margin-bottom: 42px;
		}
		p {
			&.grande {
				text-align: center;
				margin-bottom: 48px;
				@media #{$phone} {
					text-align: left;
				}
			}
			& + p {
				margin-bottom: 24px;
				@media #{$phone} {
					margin-bottom: 0;
				}
			}
		}
		h6 {
			margin-bottom: 30px;
			@media #{$phone} {
				margin-bottom: 16px;
			}
		}
	}
	.quiosque {
		@media #{$phone} {
			background-color: $vermelho-claro;
			padding: 15px;
			margin-bottom: 30px;
			h6, p {
				font-size: 12px;
				line-height: 16px;
			}
			p {
				margin-bottom: 0;
			}
		}
	}
}

#nossos-pontos {
	padding-top: 116px;
	padding-bottom: 116px;
	background-color: $branco;
	@media #{$phone} {
		padding-top: 30px;
		padding-bottom: 34px;
	}
	h2 {
		margin-bottom: 69px;
		text-align: left;
		@media #{$phone} {
			text-align: center;
			margin-bottom: 24px;
		}
	}
	form {
		input, textarea, button {
			&:focus {
				outline-width: 0;
			}
		}
		input, textarea {
			margin-bottom: 22px;
			font-size: 15px;
			padding-left: 15px;
		}
		input {
			line-height: 29px;
		}
		textarea {
			resize: none;
			padding-top: 17px;
			padding-bottom: 17px;
			line-height: 22px;
		}
		p {
			margin-bottom: 24px;
			font-size: 15px;
			line-height: 22px;
		}
		button {
			height: 35px;
			width: 140px;
			font-size: 16px;
			line-height: 100%;
			background-color: transparent;
			border: solid 2px $azul-escuro;
			margin-left: auto;
			margin-right: auto;
			&:hover {
				background-color: $azul-escuro;
				border: none;
				color: $roxo-claro;
				cursor: pointer;
			}
		}
	}
	.ponto {
		background-color: $vermelho-claro;
		padding: 23px;
		margin-bottom: 32px;
		@media #{$phone} {
			margin-bottom: 14px;
		}
		h6 {
			margin-bottom: 32px;
		}
		p {
			font-size: 15px;
			line-height: 22px;
			margin-bottom: 48px; 
		}
		@media #{$phone} {
			background-color: $vermelho-claro;
			padding: 15px;
			h6, p {
				font-size: 12px;
				line-height: 16px;
			}
			h6 {
				margin-bottom: 16px;
			}
			p {
				margin-bottom: 0;
			}
		}
	}
	.subir {
		background-image: url("/img/seta-cima.svg");
		background-size: auto 9px;
		background-position: center;
		background-repeat: no-repeat;
		height: 12px;
		margin-top: 20px;
	}
}