---
layout: default
permalink: /
---

<section id="capa-phone" class="wrapper phone-4">
	<figure class="phone-left-1 phone-right-1">
      <img src="/img/logo-completo.svg">
    </figure>
</section>

<section id="capa-home" class="phone-0">
  <iframe src="https://player.vimeo.com/video/20874177?color=fff1b6&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <section class="wrapper" id="logo-capa-home">
    <figure class="tablet-left-4 tablet-right-4 desktop-left-5 desktop-right-5">
      <img src="/img/logo-completo.svg">
    </figure>
  </section>
</section>

<a href="" class="phone-0">
	<section class="wrapper" id="pascoa">
		<p class=" phone-4 tablet-12">A páscoa está chegando: veja nossos produtos preparados exclusivamente para essa data especial&nbsp;&nbsp;<span class="seta">→</span></p>
	</section>
</a>

<section class="wrapper phone-0" id="historia">
	<div class="fundo tablet-12 desktop-left-1 desktop-10 desktop-right-1">
		<div class="subwrapper">
			<div class="container-caixa tablet-8 tablet-left-4 desktop-5 desktop-left-5 large-4 large-left-6">
				<div class="caixa">
					<h1>Uma receita <br>de família</h1>
					<p class="grande">
						 O bolo já acabou, <br>mas a conversa continuou.
					</p>
					<p class="pequeno">
						O ano é 1985 e, na cozinha de casa, entre brincadeiras e sabor de férias, um chamado: “O bolo está pronto!”. Era Ivone, que cuidava das crianças com carinho e chocolate em forma de bolo. Não demorou muito para os amigos e conhecidos se apaixonarem pelo O Bolo da Ivone. Especial, artesanal, molhadinho e doce na medida certa.
					</p>
					<p class="pequeno">
						Tradição de quem cuida, com amor, direto na sua mesa ou evento. Em tamanho grande, pequeno ou até mesmo porção, O Bolo da Ivone vai conquistar novos paladares de todas as idades e dividir com o mundo a delícia que é. Não se trata de qualquer bolo, é O Bolo da Ivone, doce simplicidade.
					</p>
					<svg id="marcador" xmlns="http://www.w3.org/2000/svg" width="50" height="10" viewBox="0 0 50 10" fill="#002831">
					    <path d="M25,1a4,4,0,1,1-4,4,4,4,0,0,1,4-4m0-1a5,5,0,1,0,5,5,5,5,0,0,0-5-5Z"/>
					    <circle id="marcador-1" cx="5" cy="5" r="5"/>
					    <path d="M5,1A4,4,0,1,1,1,5,4,4,0,0,1,5,1M5,0a5,5,0,1,0,5,5A5,5,0,0,0,5,0Z"/>
					    <circle id="marcador-2" cx="25" cy="5" r="5"/>
					    <path d="M45,1a4,4,0,1,1-4,4,4,4,0,0,1,4-4m0-1a5,5,0,1,0,5,5,5,5,0,0,0-5-5Z"/>
					    <circle id="marcador-3" cx="45" cy="5" r="5"/>
					</svg>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="wrapper negativo phone-0" id="produtos-capa">
	<h1 class="phone-4 tablet-12">O bolo está pronto</h1>
	<div class="phone-4 tablet-12">
		<a href="" class="link">veja nossos produtos →</a>
	</div>
</section>

<section class="wrapper phone-0" id="produtos">
	<div class="tablet-12 desktop-left-1 desktop-right-1 desktop-10">
		<div class="subwrapper">
			{% include thumb-home.html
				nome="O bolo da ivone"
				id="o-bolo-da-ivone"
			%}

			{% include thumb-home.html
				nome="Mini-cupcake"
				id="mini-cupcake"
			%}

			{% include thumb-home.html
				nome="Bolo no pote"
				id="bolo-no-pote"
			%}
		</div>
	</div>
</section>

<section class="wrapper negativo phone-0" id="eventos">
	<h1 class="desktop-12">Eventos &amp; ocasiões especiais</h1>
	<div class="desktop-12">
		<a href="" class="link">nos convide para sua confraternização →</a>
	</div>
</section>

<section class="wrapper phone-0" id="pontos-de-venda">
	<div class="fundo tablet-12 desktop-left-1 desktop-10 desktop-right-1">
		<div class="subwrapper">
			<div class="container-caixa tablet-8 tablet-left-4 desktop-5 desktop-left-5 large-4 large-left-6">
				<div class="caixa">
					<h1>Pra que esperar?</h1>
					<p class="grande">
						 Visite nosso quiosque e <br>venha comer bolo com a gente.
					</p>
					<p class="pequeno">
						Localizado no shopping Iguatemi, nosso primeiro quiosque. Tradição de quem cuida, com amor, direto na sua mesa ou evento. Em tamanho grande, pequeno ou até mesmo porção, O Bolo da Ivone vai conquistar novos paladares de todas as idades e dividir com o mundo a delícia que é.
					</p>
					<p class="pequeno">
						Instalamos um mural para que nossos funcionários coloquem à mostra fotos de nossos clientes. Poste sua foto com a hashtag #obolodaivone e visite nosso quiosque para ver sua foto no mural:
					</p>
					<address><p>Shopping Iguatemi Brasília<br>Térreo — Lojas 88/89</p></address>
					<a href="" class="link">mais pontos de venda →</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="wrapper phone-0" id="entregas">
	<div id="mapa"></div>
	<form id="verificar-entrega" class="desktop-5 desktop-right-1" onsubmit="return validateForm()" action="" method="post">
		<input type="text" pattern="[0-9]{8}" maxlength="8" name="" placeholder="Digite seu CEP para checar possibilidade de entrega" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Digite seu CEP para checar possibilidade de entrega'">
		<button name="Verificar" class="botao" type="submit">checar ↘</button>
	</form>
	<div class="desktop-left-1 desktop-4 desktop-right-1" id="detalhes-entrega">
		<h6>Prazos de Entrega</h6>
		<p>
			<br>Encomendas devem ser realizadas com 48 horas de <br>antecedência. Caso o pagamento não seja realizado dentro de <br>5 horas, a sua encomenda será cancelada;
		</p>
		<h6>Bairros atendidos</h6>
		<p>
			<br>Lago sul e norte, Asa sul e norte, Noroeste, <br>Sudoeste, Octogonal e Park sul.
			<br>Para entregas fora de Brasília, por favor <br>entre em contato.
		</p>
		<h6>Horários de Entrega</h6>
		<p>
			<br>Seg­—Sex:
			<br>entre 16h e 19h;
			<br>Sábados:
			<br>entre 10h e 13h;
		</p>
	</div>
</section>

<section id="encomende-phone" class="wrapper;">
	
</section>