---
layout: default
permalink: /produtos
---


<section id="capa-produtos">
</section>

{% include produto.html
	nome="O bolo da ivone"
	id="o-bolo-da-ivone"
	valor="100"
	desc="A simplicidade está em um bolo que fala ao coração de todos. Simplesmente delicioso."
%}

{% include produto.html
	nome="Mini-cupcake"
	id="mini-cupcake"
	valor="16"
	desc="A simplicidade está em um bolo que fala ao coração de todos. Simplesmente delicioso."
%}

{% include produto.html
	nome="Bolo no pote"
	id="bolo-no-pote"
	valor="24"
	desc="A simplicidade está em um bolo que fala ao coração de todos. Simplesmente delicioso."
%}