<footer>
	<div class="wrapper" id="despedida">
		<p>O bolo já acabou, mas a conversa continua.</p>
	</div>
	<div class="wrapper" id="info">
		<div class="tablet-left-2 desktop-left-4 desktop-8 justify-tablet justify-desktop phone-sub-2">
			<ul class="subcol-phone">
				<li><h6>Informações</h6></li>
				<li><a href="">Política de compra</a></li>
				<li><a href="">Termos &amp; Condições</a></li>
				<li><a href="">Ingredientes e Alérgenos</a></li>
			</ul>
			<ul class="contato">
				<li><h6>Contato</h6></li>
				<li>contato@bolodaivone.com.br</li>
				<li>+55 61 99236-3436</li>
			</ul>
			<ul class="subcol-phone">
				<li><h6>Social</h6></li>
				<li><a href="">Facebook</a></li>
				<li><a href="">Instagram</a></li>
				<li><a href="">Twitter</a></li>
			</ul>
		</div>
	</div>
</footer>