<div id="grid">
	<svg width="72" height="72" viewPort="0 0 72 72"
    xmlns="http://www.w3.org/2000/svg">
    	<polygon id="grid-button" points="0,0 72,72 72,72 0,72"/>
    	<text x="12" y="60" font-family="monospace" font-size="24">G</text>
	</svg>
	<div class="wrapper">
	{% for i in (1..12) %}
	  <div class="column phone-1 tablet-1 desktop-1 large-1">
	    <div class="content"></div>
	  </div> 
	{% endfor %} 
	</div>
</div>

<script type="text/javascript">
	var grid = document.getElementById('grid');
	var trigger = document.getElementById('grid-button');

	trigger.addEventListener('click', function(e) {
	    e.preventDefault();
	    grid.classList.toggle('open');
	});
</script>