<header class="wrapper" id="menu">
	<a class="item element mobile-0" ><span class="botao">história</span></a>
	<a class="item element mobile-0" href="/produtos"><span class="botao">bolos &amp; produtos</span></a>
	<a class="item element mobile-0" href="/eventos"><span class="botao">eventos</span></a>
	<a class="item element mobile-0" href="/pontos-de-venda"><span class="botao">pontos de venda</span></a>
	<a class="item element mobile-0" ><span class="botao">entregas</span></a>
	<a class="item element mobile-0" ><span class="botao">contato</span></a>
	<nav class="item element" id="botao-encomendar">
		<span class="botao">encomende aqui (0)</span>
		<div id="menu-dropdown">
			<div class="wrapper" id="vitrine">
				<a href="" class="desktop-1" id="produto-anterior"></a>
				<div class="desktop-10 desktop-sub-4">

					{% include thumb-header.html
						nome="O bolo da ivone"
						id="o-bolo-da-ivone"
					%}

					{% include thumb-header.html
						nome="Mini-cupcake"
						id="mini-cupcake"
					%}

					{% include thumb-header.html
						nome="Bolo no pote"
						id="bolo-no-pote"
					%}

					{% include thumb-header.html
						nome="O bolo da ivone"
						id="o-bolo-da-ivone"
					%}

				</div>
				<a href="" class="desktop-1" id="produto-proximo"></a>
			</div>
			<div class="wrapper botao" id="ver-encomendas"><a href="">ver minhas encomendas →</a></div>
		</div>
	</nav>
</header>
<nav class="wrapper" id="botao-home">
	<div class="simbolo desktop-right-10 tablet-right-10 phone-0">
		<a href="/">
			<img src="/img/simbolo.svg">
		</a>
	</div>
</nav>
