<header class="wrapper" id="menu">
	<a class="item element mobile-0" href=""><span class="botao">história</span></a>
	<a class="item element mobile-0" href=""><span class="botao">bolos &amp; produtos</span></a>
	<a class="item element mobile-0" href=""><span class="botao">eventos</span></a>
	<a class="item element mobile-0" href=""><span class="botao">pontos de venda</span></a>
	<a class="item element mobile-0" href=""><span class="botao">entregas</span></a>
	<a class="item element mobile-0" href=""><span class="botao">contato</span></a>
	<nav class="item element" id="botao-encomendar">
		<span class="botao">encomende aqui (0)</span>
		<div id="menu-dropdown">
			<div class="wrapper" id="vitrine">
				<div class="desktop-1"></div>
				<div class="desktop-10 desktop-sub-3">
					<a href="" class="subcol-desktop produto-thumb">
						<figure></figure>
						<p>O Bolo da Ivone</p>
					</a>
					<a href="" class="subcol-desktop produto-thumb">
						<figure></figure>
						<p>Bem Casado</p>
					</a>
					<a href="" class="subcol-desktop produto-thumb">
						<figure></figure>
						<p>Cupcake</p>
					</a>
				</div>
				<div class="desktop-1"></div>
			</div>
			<div class="wrapper botao" id="ver-encomendas"><a href="">ver minhas encomendas</a></div>
		</div>
	</nav>
</header>
<nav class="wrapper" id="botao-home">
	<a href="" class="simbolo desktop-1 tablet-1 phone-0">
		<img src="/img/simbolo.svg">
	</a>
</nav>
