<section id="{{ include.id }}" class="wrapper produto">
	<div class="desktop-left-1 desktop-5 tablet-6">
		<figure class="thumb" style="background-image: url('/img/{{ include.id }}.jpg');"></figure>
	</div>
	<div class="desktop-left-1 desktop-4 tablet-6 info">
		<div>
			<h1 class="nome">{{ include.nome }}</h1>
			<p class="valor">R$ {{ include.valor }}</p>
		</div>
		<div>
			<p class="desc">{{ include.desc }}</p>
			<p class="detalhes">detalhes +</p>
		</div>
		<div>
			<p class="tamanho">pequeno</p>
			<p class="quantidade">quantidade: <span class="numero">+ 1</span></p>
			<a href="" class="encomendar">encomendar</a>
		</div>
	</div>
</section>