#menu {

	position: fixed;
	top: 0;
	left: 0;
	background-color: $branco;
	z-index: 999;

	.itens_desktop {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		width: 100%;
	}

	.botao {
		line-height: 49px;
	}

	@media #{$phone} {
		height: 72px;
	}

	#home-phone {
		position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
	    align-self: center;
		img {
			height: 36px;
			width: auto;
		}
	}

	#cesta {
		@media #{$phone} {
			position: absolute;
			display: block;
			right: 34px;
			align-self: center;
			img {
				width: 16px;
				height: auto;
				display: block;
			}
		}
	}

	#icone-menu {
		@media #{$phone} {
			position: absolute;
			display: block;
			left: 24px;
			align-self: center;
			svg {
				width: 26px;
				height: auto;
				display: block;
			}
		}
	}

	#produto-anterior, #produto-proximo {
		background-position: center;
		background-size: 10px auto;
		background-repeat: no-repeat;
	}
	#produto-anterior {
		background-image: url('/img/seta-anterior.svg');
	}
	#produto-proximo {
		background-image: url('/img/seta-proximo.svg');
	}
	.item {
		cursor: pointer;
		height: 57px;
		width: auto;
		margin-left: 0;
		margin-right: 0;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
		flex-grow: 1;
		&:hover {
			background-color: $verde-claro;
		}
		&:first-child {
			margin-left: 15px;
		}
		&:last-child {
			margin-right: 15px;
		}
		.botao-menu {
			font-family: 'HurmeGeometric', sans-serif;
			font-feature-settings: "swsh" 1;
			font-size: 17px;
			line-height: 57px;
		}
	}
	#botao-encomendar {
		flex-grow: 1.5;
		background-color: $amarelo-claro;
		cursor: default;
		&:hover {
			background-color: $amarelo-claro;
			#menu-dropdown {
				display: flex;
				flex-wrap: wrap;
			}
		}
	}

	#menu-dropdown {
		display: none;
		background-color: $amarelo-claro;
		position: fixed;
		top: 57px;
		left: 0;
		width: 100vw;
	}

	#vitrine {
		padding-top: 42px;
		padding-bottom: 42px;
		align-items: stretch;
		.subwrapper {
			justify-content: space-between;
		}
	}

	.thumb-header {
		position: relative;
		width: 170px;
		justify-content: center;
		figure {
			padding-bottom: 100%;
			background-color: transparent;
			margin-bottom: .5rem;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		h6 {
			text-align: center;
			line-height: 16px;
			font-size: 14px;
			margin-bottom: 24px;
			color: $azul-escuro;
			font-family: 'HurmeGeometric', sans-serif;
			font-feature-settings: "swsh" 1;
		}
		.encomendar {
			text-align: center;
			line-height: 16px;
			font-size: 14px;
			width: auto;
			color: $azul-escuro;
			position: relative;
			&:hover {
				&:after {
					content: "";
					height: 1px;
					width: 100%;
					background-color: $azul-escuro;
					position: absolute;
					left: 0;
					bottom: -5px;
				}
			}
		}
	}

	#ver-encomendas {
		background-color: $branco;
		cursor: pointer;
		&:hover {
			background-color: $roxo-claro;
		}
	}
}

#botao-home {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	height: 100vh;
	pointer-events: none;
	align-items: flex-end;
	.simbolo {
		margin-bottom: 32px;
		justify-content: center;
		padding-left: 34px;
		a {
			pointer-events: all;
			width: auto;
		}
		img {
			height: 88px;
			width: 100%;
		}
	}
}

#despedida {
	background-color: $verde-claro;
	text-align: center;
	p {
		line-height: 2rem;
		margin-bottom: 0;
	}
}

#info {
	background-color: $vermelho-claro;
	padding-bottom: 32px;
	padding-top: 27px;
	li {
		list-style: none;
	}
	li, h6, a {
		line-height: 22px;
		font-size: 16px;
	}
	@media #{$phone} {
		padding-top: 1rem;
	}
}


@media #{$phone} {
	#info {
		li, h6 {
			text-align: center;
		}
		li {
			margin-bottom: 1.5rem;
			border-bottom: 1px solid $azul-escuro;
			padding-bottom: 1rem;
		}
	}
	#menu-phone {
		height: calc(100vh - 72px);
		position: fixed;
		top: 72px;
		left: 0;
		z-index: 3;
		background-color: $branco;
		align-content: center;
		pointer-events: none;
		opacity: 0;
		transition: opacity .1s ease-in-out;
		&.aberto {
			opacity: 1;
			pointer-events: all;
		}
		a {
			line-height: 39px;
			margin-bottom: 39px;
			font-size: 20px;
			font-family: 'HurmeGeometric', sans-serif;
			text-align: center;
			color: $azul-escuro;
			font-feature-settings: "swsh" 1;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
