#menu {
	flex-wrap: nowrap;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $branco;
	z-index: 999;
	.item {
		cursor: pointer;
		height: 57px;
		width: auto;
		margin-left: 0;
		margin-right: 0;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
		flex-grow: 1;
		&:hover {
			background-color: $verde-claro;
		}
		&:first-child {
			margin-left: 15px;
		}
		&:last-child {
			margin-right: 15px;
		}
		.botao {
			font-family: 'HurmeGeometric', sans-serif;
			font-feature-settings: "swsh" 1;
		}
	}
	#botao-encomendar {
		flex-grow: 1.5;
		background-color: $amarelo-claro;
		cursor: default;
		&:hover {
			background-color: $amarelo-claro;
			#menu-dropdown {
				display: flex;
			}
		}
	}

	#menu-dropdown {
		display: none;
		background-color: $amarelo-claro;
		position: fixed;
		top: 57px;
		left: 0;
		width: 100vw;
	}

	#vitrine {
		padding-top: 42px;
		padding-bottom: 42px;
	}

	.produto-thumb {
		position: relative;
		width: 170px;
		justify-content: center;
		figure {
			padding-bottom: 100%;
			background-color: $branco;
			margin-bottom: .5rem;
		}
		h6 {
			text-align: center;
			line-height: 16px;
			font-size: 14px;
			margin-bottom: 24px;
			color: $azul-escuro;
			font-family: 'HurmeGeometric', sans-serif;
			font-feature-settings: "swsh" 1;
		}
		.encomendar {
			text-align: center;
			line-height: 16px;
			font-size: 14px;
			width: auto;
			color: $azul-escuro;
			position: relative;
			&:hover {
				&:after {
					content: "";
					height: 1px;
					width: 100%;
					background-color: $azul-escuro;
					position: absolute;
					left: 0;
					bottom: -5px;
				}
			}
		}
	}

	#ver-encomendas {
		background-color: $branco;
		cursor: pointer;
		&:hover {
			background-color: $roxo-claro;
		}
	}
}

#botao-home {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	height: 100vh;
	pointer-events: none;
	align-items: flex-end;
	.simbolo {
		margin-bottom: 32px;
		justify-content: center;
		padding-left: 45px;
		a {
			pointer-events: all;
			width: auto;
		}
		img {
			height: 88px;
			width: auto;
		}
	}
}
