@font-face {
  font-family: 'HurmeGeometric';
  src:  url('/fonts/HurmeGeometricSans4-Bold.otf') format('opentype');
}

body {
	font-family: 'Questrial', sans-serif;
	color: $azul-escuro;
}

.negativo {
	h1, h2, h3, h4, h5, h6, label, p, figcaption, input, select, textarea, button, li, a {
		color: $branco;
	}
}

.seta {
	font-family: 'HurmeGeometric', sans-serif;
}

.link {
	font-size: 19px;
	text-align: center;
	line-height: 23px;
	font-family: 'HurmeGeometric', sans-serif;
	width: auto;
	@media #{$phone} {
		font-size: 15px;
		line-height: 22px;
		text-align: center;
	}
}

h1, h2, h3, h4, h5, h6, button {
	font-family: 'HurmeGeometric', sans-serif;
	text-align: center;
	font-feature-settings: "swsh" 1;
}

h1 {
	font-size: 36px;
	line-height: 40px;
	margin-bottom: .5rem;
	@media #{$mobile} {
		font-size: 25px;
		line-height: 30px;
	}
}

h2 {
	font-size: 36px;
	line-height: 40px;
	@media #{$phone} {
		font-size: 17px;
		line-height: 22px;
		margin-bottom: 24px;
	}
}

h6 {
	text-align: left;
}

label, p, figcaption, input, select, li, textarea {
	font-family: 'Questrial', sans-serif;
	color: $azul-escuro;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}

select {
	border-radius: 0;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
 	background-color: transparent;
 	text-align-last: center;
}

p, label, select, input {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 11px;
	@media #{$phone} {
		font-size: 15px;
	}
	&.grande {
		font-size: 20px;
		line-height: 24px;
	}
}

.botao {
	font-size: 14px;
	font-family: 'HurmeGeometric', sans-serif;
}