@font-face {
  font-family: 'HurmeGeometric';
  src:  url('/fonts/HurmeGeometricSans4-Bold.otf') format('opentype');
}

body {
	font-family: 'Questrial', sans-serif;
	color: $azul-escuro;
}

.negativo {
	h1, h2, h3, h4, h5, h6, label, p, figcaption, input, button, li, a {
		color: $branco;
	}
}

.seta {
	font-family: 'HurmeGeometric', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'HurmeGeometric', sans-serif;
	text-align: center;
	color: $azul-escuro;
	font-feature-settings: "swsh" 1;
}

h1 {
	font-size: 36px;
	line-height: 40px;
	margin-bottom: .5rem;
	@media #{$mobile} {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

h6 {
	text-align: left;
}

label, p, figcaption, input, button, li {
	font-family: 'Questrial', sans-serif;
	color: $azul-escuro;
}

p {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 11px;
	&.grande {
		font-size: 25px;
		line-height: 30px;
	}
}

.botao {
	font-family: 'HurmeGeometric', sans-serif;
	font-feature-settings: "swsh" 1;
	font-size: 17px;
	line-height: 57px;
}
